<!DOCTYPE html>
<html>
  <head>
    <!--
     Frank Sinatra

  "The old crooner himself:"
       QB"   .  . ....^FBQQBQBQ
       #^   ..../,, ,/yyBQBDBt`"B
     B"  ._L_yQ&Qy&&QQBQQDlL;S; (Q
    B^   /DQQQBQQQQQQBQBDQQD1:   "B
   Q~   ,GQBDQDQQQQQQBBQQDQ&EC    7B
   D    lQQQQQBQBQQQQQQQQBBID('    {
   E   .iDDBQQBQQQQBBBQBQQDQ1!:    (
   3   .(BQBBQBBQQQQBBQBBBDBS'     }                     I'm
   Q   '~~<MMBQQBBQBP"""<BD1EL.    Q                   dreaming
   Q    LuL `7QBBB?../LL;.!JDL     Q                    of a
  "  ,  ,__&L.DBBEEL1L_,'EylEE!  ,U                     white
  1 :s&yyQQQ6-DQBBQ&QQQQQQQQJY!  lyB1Q                Christmas.
  S  ?DDQQBD'.QQBDQDBQBQQQDD1<  LIQDG
  Q   j8BQE2 LQQBE9EBBEBQQES{! /BQSE
   Q_ 'TS7L  <#P~^,G1?TXC3({!  3PEy
    Q, ,_>'.,___yBD1DU;,'('''  yQ
     L "Qy,  'IIIZl',L/&;!;:  LQ
     Q; FD(  (`IE2L/QDB&lY!   6Q
      Q, (/. `!?"21iQDU&/~   L FB
       Q_ (EL/&&QDBQBDJ"   ,y^  `FB
        Qy 75EEBBQESf`   _yB^      "M
        Q7  `'^""~`   _yQQM'         `"FQ
        F;         _yQQQQF              Q
  -->
  <title>NYC Historical Site - Sinatra</title>
  <style>
   body { margin:0 padding: 0; }
   .container { width: 85%; margin: 0 auto; }
   .main-menu { list-style: none; margin:0; padding: 0;}
   .main-menu li { display: inline-block; padding: 15px 15px 15px 0; }
  </style>
  </head>
  <body>
    <div class="header">
     <div class="container">
       <ul class="main-menu">
        <li><a href="/figures">Figures</a></li>
        <li><a href="/landmarks">Landmarks</a></li>
        <li><a href="/figures/new">New Figure</a></li>
      </ul>
     </div>
    </div>
    <div class="container">
     <% unless locals.empty? %>
      <%= locals[:message] %>
     <% end %>
     <%= yield %>
    </div>
    
  </body>

</html>
